.page {
  height: 100%;
}

.offers {
    padding-top: 60px;
} 

.container_offers {
  padding: 30px 15px;
  display: grid;
  gap: 20px;
  overflow-x: auto; /* Добавлен горизонтальный скролл */
  grid-auto-flow: column; /* Элементы будут располагаться горизонтально */
}
.category_title{
  color: rgb(63, 22, 58);
  font-weight: 800;
  font-size: 37px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poller One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 85px;
  z-index: 20;
}

@media only screen and (max-width: 677px) {
  .offers {
    padding-top: 0;
} 
.container_offers{
  padding: 0 15px;
  grid-template-columns: repeat(5, 200px);
}
.category_title{
  font-size: 20px;
}
}

