.page {
  height: 100%;
}

.offers {
    padding-top: 60px;
} 

.container_offers {
  padding: 30px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 350px;
  gap: 20px;
}
