.header {
  display: grid;
  grid-template-columns: 120px 1fr ;
  align-items: center;
  padding: 0px 100px;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 80px;
  font-size: 20px;
}

.homepage {
  background: none;
}

.pages {
  background: linear-gradient(180.52deg, #FA90D6 -9.05%, rgba(96, 26, 73, 0.83) 107.41%);
}
.img_squares {
  position: absolute;
  right: 0;
}


@media only screen and (max-width: 920px) {
  .header {
    grid-template-columns: 100px 1fr 50px 50px;
    padding: 0 10px;
  }

  .nav {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    background-color: rgba(51, 153, 51, 0.7);
    top: 110px;
    margin: 0;
    right: 0;
    width: 50%;
    padding: 20px;
    z-index: 1;
    border-radius: 5px;
  }
  .navigation.open a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .burger_line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
}
