.item_descr {
  padding: 5px;
  display: grid;
  grid-template-columns: 250px 70px 70px 70px;
  grid-template-rows: 80px 80px;
  align-items: center;
  padding: 40px 20px;
}

.basket_container {
  display: grid;
  grid-template-columns: 250px auto;
  max-width: 800px;
  background: #ffffff;
  box-shadow: 4px 4px 47px #ab5e90;
  border-radius: 20px;
  height: 250px;
}
.img_container {
  height: 250px;
  width: auto;
  display: flex; /* устанавливаем режим отображения flex */
  justify-content: center; /* выравниваем контент по горизонтали по центру */
  align-items: center; 
}

.img_item {
  height: 100%;
  padding: 10px;
  width: 100%;
  object-fit: contain;
}

.ring {
  width: 20px;
  height: 20px;
  background: rgb(113, 114, 116);
  border-radius: 50%;
  margin: auto;
}

.btn {
    color: #ab5e90;
    font-size: 26px;
    margin: auto;
}

.title {
    font-weight: 600;
    margin-bottom: 20px;
}

.grey_style{
    color: rgb(44, 44, 44);
}
.select_basket{
    min-width: 50px;
    background-color:#ffffff;
}

.filters {
 display: flex;
 gap: 50px;
}

.wrap {
  text-align: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 773px) {
  .basket_container {
      grid-template-columns: 150px auto; 
      max-width: 100%; /* позволим контейнеру занимать всю ширину */
      height: auto; 
  }

  .img_container {
      height: 150px; /* уменьшаем высоту контейнера изображения */
  }

  .item_descr {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto; 
      padding: 10px 10px; 
  }

  .img_item {
      height: 100%;
      padding: 5px;
      width: 100%;
      border-radius: 20px;
      object-fit: cover; /* изменим на cover для лучшего отображения */
  }

  .filters {
      flex-direction: column; /* делаем элементы один под другим */
      gap: 10px; /* уменьшаем расстояние между элементами */
  }
  .wrap p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .basket_container {
      grid-template-columns: 100px auto; 
  }

  .img_container {
      height: 100%; 
  }
  .title{
    font-size: 14px;
  }
  .wrap p {
    font-size: 12px;
  }
}