.page {
  height: 100vh;
  min-width: 100%; 
  background: linear-gradient(
    180.52deg,
    #fa90d6 -9.05%,
    rgba(96, 26, 73, 0.83) 107.41%
  );
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Poller One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem; 
  line-height: 85px;
  color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem; 
  margin: auto;
}

.text,
.animated_text {
  font-family: "Poller One";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem; 
  line-height: 85px;
  color: whitesmoke;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fade-in-block2;
  animation-delay: 1s;
}

.animated_text {
  color: rgb(103, 20, 95);
  font-size: 6rem; 
}

.animated_text,
.animated_h1 {
  opacity: 0; 
  animation-name: fade-in; 
  animation-duration: 2s; 
  animation-fill-mode: forwards; 
}

.animated_text {
  color: rgb(103, 20, 95);
  font-size: 100px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-block2 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img_curlyLine {
  position: relative;
  left: 10%;
  height: 100px;
  width: 600px;
}

.img_arrows {
  position: relative;
  width: 130px;
  height: 35.18px;
  right: 220px;
  bottom: 170px;
}

.img_squares1 {
  left: 108px;
  top: 613px;
}

.img_squares2 {
  right: 280px;
  bottom: 213px;
}
.img_squares3 {
  top: 80px;
  left: 13px;
}

.img_squares4 {
  top: 80px;
  right: 13px;
}
.img_squares1,
.img_squares2,
.img_squares3,
.img_squares4 {
  position: absolute;
  width: 182px;
  height: 141px;
}

@media (max-width: 734px) {
  .container {
    gap: 2rem;
  }
  h1,
  .text,
  .animated_text {
    font-size: 1.5rem;
  }
  .animated_text {
    font-size: 4rem;
  }
  .img_curlyLine, .img_squares2 {
    display: none;
  }
  .img_arrows {
    width: 65px;
    height: 17.59px;
  }
  .img_squares1,
  .img_squares3,
  .img_squares4 {
    width: 91px;
    height: 70.5px;
  }
}
