.page {
  height: 100vh;
  min-width: 1270px;
  background: linear-gradient(
    180.52deg,
    #fa90d6 -9.05%,
    rgba(96, 26, 73, 0.83) 107.41%
  );
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Poller One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 85px;
  color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: auto;
}

.text,
.animated_text {
  font-family: "Poller One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 85px;
  color: whitesmoke;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fade-in-block2;
  animation-delay: 1s;
}

.animated_text,
.animated_h1 {
  opacity: 0; /* Устанавливаем начальное значение непрозрачности в 0 */
  animation-name: fade-in; /* Указываем имя анимации */
  animation-duration: 2s; /* Устанавливаем длительность анимации */
  animation-fill-mode: forwards; /* Сохраняем состояние анимации после ее завершения */
}

.animated_text {
  color: rgb(103, 20, 95);
  font-size: 100px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-block2 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img_curlyLine {
  position: relative;
  left: 10%;
  height: 100px;
  width: 600px;
}

.img_arrows {
  position: relative;
  width: 130px;
  height: 35.18px;
  right: 220px;
  bottom: 170px;
}

.img_squares1 {
  left: 108px;
  top: 613px;
}

.img_squares2 {
  right: 280px;
  bottom: 213px;
}
.img_squares3 {
  top: 80px;
  left: 13px;
}

.img_squares4 {
  top: 80px;
  right: 13px;
}
.img_squares1, .img_squares2, .img_squares3, .img_squares4 {
  position: absolute;
  width: 182px;
  height: 141px;
}